  
body {
	background-color: #AED6F1;
}

#heading{
 	text-align: center;
}

#wrapper {
  text-align: center;
}

.huji-link {
	display: inline-block;
}

.row {
  width:100%;
}
.column {
  width:33.33%;
  float:left;
}
.row:after {
  content: '';
  display: block;
  clear:both;
}

.bio {
  width:100%;
}
.bio-section {
  width:50%;
  float:left;
}
.bio:after {
  content: '';
  display: block;
  clear:both;
}

.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  height: auto;
}

p { 
  margin: 10px; 
}

/* unvisited link */
a:link, a:visited, a:active {
  color: black;
  text-decoration: none;
}

/* mouse over link */
a:hover {
  color: #1A5276;
  text-decoration: none;
}

/* .center:hover{
  color: #424242; 
-webkit-transition: all .3s ease-in;
-moz-transition: all .3s ease-in;
-ms-transition: all .3s ease-in;
-o-transition: all .3s ease-in;
transition: all .3s ease-in;
opacity: 1;
transform: scale(2,2);
-ms-transform: scale(5,5); /* IE 9 */
/* -webkit-transform: scale(2,2); /* Safari and Chrome */
/* } */